<% if !mobile? %>
  <div class="hide-ios">
    <%= raw Setting.index_html %>
  </div>
<% end %>
<div class="home">
  <!--  左侧区域开始-->
  <div class="wrapper">
    <!--顶部推荐文章开始-->
    <%= render 'carousel', posts: @carousel_posts %>
    <%= render 'cards', posts: @card_posts %>
    <!--顶部推荐文章结束-->

    <!--左侧分类文章开始-->
    <div class="home-content">
      <main>
        <!--文章导航-->
        <%= render 'nav', category_id: @category_id %>
        <!--文章列表-->
        <%= render 'posts', posts: @posts %>
        <!--大屏分页-->
        <%= paginate @posts, theme: 'round_theme' %>
        <!--小屏分页-->
        <%= paginate @posts, theme: 'round_theme_mobile' %>
      </main>
    </div>
    <!--分类文章结束-->
  </div>
  <!--  左侧区域结束-->

  <!--右侧区域开始-->
  <div class="sidebar-wrapper ">
    <aside class="home-sidebar d-none d-lg-block">
      <!--    活动通知开始-->
      <div class="card activity-notice" hidden="hidden">
        <div class="card-header notice-header">
          <i class="fa fa-calendar-minus-o"></i> 公告 <span class="notice-time">2018.11.1 发布</span>
        </div>
        <div class="card-body notice-img">
          DPoS Club 建立最好的Dpos中文技术社区
        </div>
      </div>
      <!--    活动通知结束-->

      <!--    右侧广告位开始-->
      <section class="sidebar-ad box">
        <header>生态伙伴</header>

        <a class="item" href="https://yoyow.org" target="_blank" title="https://yoyow.org">
          <div class="cover yoyow vertical-center">
          </div>
        </a>

        <a class="item" href="https://www.biask.com" target="_blank" title="https://www.biask.com">
          <div class="cover biask vertical-center">
          </div>
        </a>
      </section>
      <!--    右侧广告位结束-->

      <!--    热议主题开始-->
      <section class="hot box">
        <header>今日社区热议主题</header>
        <article class="media">
          <a href="/912036588"><img class="media-object avatar avatar-64" src="https://ethfans.org/uploads/user/letter_avatars/2/9/82_188_137/128.png" alt="128"></a>
          <div class="media-body">
            <a class="title" href="/topics/28739">以太坊代币可以挖矿吗</a>
            <a class="name" href=""></a>
          </div>
        </article>
        <article class="media">
          <a href="/szwzyh"><img class="media-object avatar avatar-64" src="https://upyun-assets.ethfans.org/uploads/user/avatar/18101_large.jpg" alt="18101 large"></a>
          <div class="media-body">
            <a class="title" href="/topics/28764">有向无环图 (DAG) 技术：超越区块链的分布式账本</a>
            <a class="name" href="">南坡海瑞</a>
          </div>
        </article>
        <article class="media">
          <a href="/soapsuds"><img class="media-object avatar avatar-64" src="https://ethfans.org/uploads/user/letter_avatars/2/S/162_136_126/128.png" alt="128"></a>
          <div class="media-body">
            <a class="title" href="/topics/28758">交易所 / 众筹站多币种接入集成接口 B</a>
            <a class="name" href=""></a>
          </div>
        </article>
        <article class="media">
          <a href="/soapsuds"><img class="media-object avatar avatar-64" src="https://ethfans.org/uploads/user/letter_avatars/2/S/162_136_126/128.png" alt="128"></a>
          <div class="media-body">
            <a class="title" href="/topics/28757">交易所 / 众筹站多币种接入集成接口 A</a>
            <a class="name" href=""></a>
          </div>
        </article>
        <article class="media">
          <a href="/zacharytaylor"><img class="media-object avatar avatar-64" src="https://ethfans.org/uploads/user/letter_avatars/2/Z/173_214_125/128.png" alt="128"></a>
          <div class="media-body">
            <a class="title" href="/topics/28753">methods.sendTransaction () 为何不能弹出 metamask</a>
            <a class="name" href=""></a>
          </div>
        </article>
      </section>
      <!--    订阅开始-->
      <section class="sidebar-subscribe" hidden="hidden">
        <header>订阅精选资讯和热门话题</header>
        <form action="//ethfans.us11.list-manage.com/subscribe/post?u=ac1d82045d267e799747892fc&amp;id=232b99ceb5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <input class="form-control" type="email" name="EMAIL" placeholder="Email Addres">

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_ac1d82045d267e799747892fc_232b99ceb5" tabindex="-1" value="">
          </div>

          <button type="submit" class="btn btn-primary">订阅</button>
        </form>
      </section>

    </aside>
  </div>
</div>

<% if !mobile? %>
  <div class="hide-ios">
    <%= raw Setting.index_html %>
  </div>
<% end %>